* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* Ensures padding and borders are included in element's total width/height */
  }
  body {
    margin:20px ;
    font-family: 'Poppins', sans-serif;
    background-color: #262D4C   ; /* Dark navy blue */
    color: #ffffff;
  }
  .gradient-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .nav-links {
    list-style: none;
    display: flex;
    justify-content: relative;
    align-items: center;
    gap: 20px;
  }
  .logo:hover {
    transform: scale(1.05); /* Scale up the card on hover */
  }
  
  .hero {
    display: flex;
    margin-top: 18vh;
    align-items: center;
    justify-content: space-between;
    gap: 40px; /* space between text and image */
    padding: 40px 0;
  }  
  .hero-text-box {
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 20vw;
    align-items: center;
    gap: 20px; /* space between text lines */
    width: 50vw; /* Adjust the width as needed */
    font-size: large;
    font-family: "poppins", sans-serif;
  }
  
  .hero-img
  {
    position: relative;
    top: 10% ;
    right: 2vw;
    width: 100%; /* Adjust the width as needed */
    height: 50vh; /* Adjust the height as needed */
    overflow: hidden;
}
  
.projects {
    display: flex;
    flex-direction: column;
    align-items: center;       /* Horizontally center everything */
    padding: 40px 20px;
    font-family: 'Poppins', sans-serif;
    gap: 30px;  
    margin-top: 15vh;   
                /* Space between heading and cards */
  }
   
  .project-card {  
    position: relative;           /* Use most of the viewport width */         /* But limit max size */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1F2235;
    border-radius: 10px;
    width: 35vw;
    padding:  20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    
  }
  .project-card:hover {
    transform: scale(1.05); /* Scale up the card on hover */
  }
  .projects h1 {
    font-size: 3rem; /* Space between heading and cards */
  }
  .project-card img {
    width: 25vw; /* Adjust the height as needed */
  }
  .project-card p {
   width: 30vw; /* Adjust the height as needed */
    text-align: center;
    font-size: 1.2rem;
    margin-top: 10px; /* Space between image and text */
  }
  .project-link{
      text-decoration: none;
      color: inherit;
      display: inline-block;
    }
    .project-card:hover{
      color:#FFA500;
    }
    .project-link:hover .project-card {
      transform: scale(1.05); /* Ensures hover works when wrapped in link */
    }
  